/* 리쎗 */

*{margin: 0; padding: 0;}
h1,h2,h3,h4.h5,h6{font-size:inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}

/* 리쎗 끗 */
html{font-size: 12px; font-family: 'Noto Sans KR', sans-serif;}

/* 레이아웃 */

.top{
background:url(./img/bg_body.jpg) no-repeat}
.bottom{
    
    background-color: #29357d;}

header{width:1000px; margin:0 auto; display: flex;
justify-content: space-between;
align-items: center;}

header>*{}

.lnb{display: flex; margin-bottom: 30px;justify-content: flex-end;}

.lnb>li{padding-right:15px; background:url(./img/bg_body.jpg) no-repeat calc(100% - 5px)50%; color:#888; font size:0.9rem; text-transform:uppercase;}

.lnb>li:last-of-type{padding: 0;}

.gnb{display: flex;}

.gnb>li{padding:10px 20px;
color:#333; font-size: 1.2rem; font-weight: bold;}


.cw{width:1000px; margin:0 auto;}



footer{}

/* 메인배너 */

.mainbanner{width:1000px; margin:0 auto; padding-top: 40px; padding-bottom: 100px;}


/*첫번째 자식 태그한테 margin-top을 만들어서 여백을 주는 것보다 부모태그한테 padding-top을 지정해주는게 좋다
그 이유는 자식태그는 content-box에 안에 놓여있고 content-box안에서 바깥쪽으로 보무태그와 paddinig그리고 border를 밀어내는 것이 자식태그의 margin이기 때문이다... 만약에 부모태그와 padding과 border가 없다면 자식태그가 밀어내는 여백이 부모태그 바깥으로 흘러버리게되어 부모태그의 높이가 정상적으로 유지되지 않는다 */


.mainbanner>h2{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: #6694c3; margin-bottom: 40px;}

    .mainbanner>dl{ width:400px; height:120px;
    position:relative;}

    .mainbanner>dl>dt{height:30px; float:left; display: flex;align-items: center; padding:0 10px;}

    .mainbanner>dl>dd{position: absolute;
    left:0; top:40px; 
width:100%; display: none;}

.mainbanner>dl>dt.on{font-weight: bold;
color:#29357d; border-bottom: 1px solid gray;}

.mainbanner>dl>dt.on+dd{display: block;}

.mainbanner dd li{
    
    margin-bottom: 2px;
    display: flex; justify-content: space-between;}

.mainbanner dd li:last-of-type{margin border-bottom: 0px;}

/* contents */

.contents{ padding-top: 30px;
padding-bottom: 100px; display: flex;
color: white;}


.contents>article{;margin-right: 130px;}

.contents>article:last-of-type{margin-right: 0px;}

.contents>article>h3{margin-bottom: 24px;}

.quicklist{
    background: url(./img/bg_service.gif) no-repeat 0 3px; padding-left:12px; line-height: 160%;}
    
    /* list-style-position: inside; list-style-type: decimal;} */

/* .contents{border:1px solid red } */


/* 탭메뉴시작 */
.tabmenu{ width:100%; height: 110px; position: relative;}
.tabmenu>dt{float:left;  height: 26px; display: flex; align-items: center; padding: 0 14px; background: #1c2661; margin-right: 4px;}

.tabmenu>dd{position: absolute; left:0; top: 30px; width:100%; height:80px; display: none;}

.tabmenu>dt.on{background: #4355b7;}    

.tabmenu>dt.on+dd{display: block;}

.tabmenu>dd>a{
    display: block;
    height:100%;
}

.tabmenu>dd>a>img{width:100%; height:100%; object-fit:contain;}


/* 탭메뉴끗 */

footer{ 
    border-top: 1px solid white;
    display: flex; 
   border-top: 1px soid white;
    padding-top: 20px;
justify-content: space-between;}

footer>*{}

footer>section{color: white;}

footer>section>label{display: none;}

footer>section>select{
    background: #29357d; color:white; border:1px solid white; padding:3px 40px 3px 10px; margin-right: 15px;
}

