.container h2{font-size:40px;color: green; text-decoration:underline;}
.container p{font-size:25px;color:blue;}
.container dl>dt{font-size:25;color:green; text-decoration: underline;}
.container dl>dd{font-size:25;color: green;}


/* 풀이 */

.container{font-size:25px; color:green}
.container>h2{font-size:40px}
.container p{color:blue}
.under{text-decoration:underline;}