h1{color:red}
h2#a.title.title2{color:darkslateblue;}
h2#a.title{color:yellow;}
h2#a{color:darkgoldenrod;}
#a{color:coral}
body div.box>h2.title{colorbrown;}
div>h2.title{color:blue;}
h2.title{color:red}
.title{color:black}
h2{color:blue; text-decoration:underline;}
h2{color:darkolivegreen}
