*{margin: 0; padding: 0;}
h1,h2,h3,h4.h5,h6{font-size:inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}

/* .box{
    width: 900px;
    height: 900px;
    background: pink;
    margin: 0 auto;
    display:flex;
    flex-direction:row-reverse;
}


.box>section{
    border: 1px solid red;
    font-size: 4rem;
    flex: 1;
   
    
} */

/* 
.box{
    width: 900px;
    height: 900px;
    background: pink;
    margin: 0 auto;
}


.box>section{
    border: 1px solid red;
    font-size: 4rem;    
} */


/* .box{
    width: 900px;
    height: 900px;
    background: pink;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
}


.box>section{
    border: 1px solid black;
    font-size: 4rem; 
    flex-basis: 50%;
    box-sizing: border-box; 
    flex-grow:1;  
} */


.box{
    width: 900px;
    height: 900px;
    background: pink;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


.box>section{
    border: 1px solid black;
    font-size:4rem;
    flex-basis:calc((100% - 60px)/3);
    height:calc((100% - 60px)/3) ;
    box-sizing: border-box;}


    