/* 리쎗 */
*{margin: 0; padding: 0;}
h1,h2,h3,h4.h5,h6{font-size:inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}
/* 리쎗 끗 */

/* 공통스타일 */
html{font-size: 12px; font-family: 'Noto Sans KR', sans-serif;}

/* 레이아웃(대략적인것-큰영역->작은영역) */

.container{border:1px solid transparent; width:820px;
margin: 0 auto;}
header{margin-bottom: 16px; border-bottom:3px solid rgb(107, 107, 192);}
main{border:1px solid transparent; margin-bottom: 50px;}
footer{}

/* 디테일하게... */

/**************** 해더영역 *****************/

header{
    padding-top: 12px;
padding-bottom: 5px;}
header h1{margin-bottom: 5px;}
header p{font-style: italic;
color:gray}


/**************** 메인영역 *****************/

main h3{font-size: 2rem; font-weight: bold;}
main form{
    padding: 6px;
    border:1px solid #ddd;
    background:#efefef;
    margin-bottom: 10px;
    /* 16진수 색상 표현법에서 똑같은 문자가 5개가 반복된다면 3자리로 줄여서 표현할 수 있다. */
}
main form *{vertical-align: middle;}

/* 섹션 배치 */

.nation{border:1px solid transparent;}

.nation>section{/* border:1px solid red; */
float: left; width:calc((100% - 40px)/3); margin-right: 20px;}
.nation>section:last-of-type{margin-right:0px;}

/* 마지막셋션만 선택해서 last-of 타임에 마진0 줌 */

.nation::after{content:""; display: block; clear: both;}

/* float를 사용하여 공중에 띄우게 되면 암묵적으로 display형태는 inline-block으로 변한다 */

.nation>section>h4{border-bottom:1px solid gray;
padding-bottom:4px; margin-bottom:6px;}

.nation>section>ul{}
.nation>section>ul>li{margin-bottom: 20px;
    /* border: 2px solid red; */}
.nation>section>ul>li:last-of-type{margin-bottom: 0px;}

.nation>section>ul>li>img{float: left; margin-right: 10px; }

/* float후에는 반드시 클리어를 해줘야함 */

.nation>section>ul>li:after{content:""; display: block; clear: both;}

/**************** 푸터 영역 *****************/

footer{padding: 6px;
    border:1px solid #ddd;
    background:#efefef;}
.fleft{float: left; }
.fright{float: right; }
footer:after{content:""; display:block; clear:both;}
footer dl>*{float: left; margin-right: 10px;}
footer dl>dt{font-weight: bold;}
footer dl>dd{color: navy;}

footer dl>dd:nth-of-type(5), 
footer dl>dd:nth-of-type(6){border-left: 1px solid gray;padding-left: 10px;}
footer dl:after{content:""; display:block; clear:both;}
.copy{margin-top: 15px; color:gray;}
.bc{color:navy;}
.fright>*{vertical-align: middle;}