/* 1.reset
margin:0;paddint:0
h1~~~~~h6{font-size:inherit;font-weight:normal};
address,em,i{font-style:normal;}
strong,b{font-weight:normal;}
a{text-decoration:none;color:inherit;}

2. common-style
body~~~ 처럼 공통 스타일 잡기

3.layout-크기, 배치

4.디테일 스타일(글씨크기,색상,배경색 마진 패딩 등등



*/

body{background:ivory;
font-family:'Times New Roman', Times, serif;
font-size:14px;}
*{margin:0; padding:0;}

.container{
    width:900px;
    margin:0 auto;
    /* 중앙배치는 마진영 오토 */
    background:url(../cosmo/images/dream.jpg) no-repeat right bottom;
}

.container>h1{font-size:50px;
background:green;
color:white;
border-top:3px solid red;
border-bottom:3px solid red;
text-align:center;
padding:10px 0;
margin-bottom:10px;}

.container>h2{font-size:20px;
    background:orange;
    border-bottom:3px solid red;
    margin-bottom:10px;
}

.container>p{
    margin-bottom:10px;
}

.copy{

    border-top:3px solid red;
    font-weight:bold;
    padding-top:10px;
}