*{
    margin:0; padding:0
}
.box{
    margin:0 auto;
    width:800px;
    height:600px;
    padding:40px;
    border:1px solid red;
    /* background-color:pink; */
    /* background-image:url("../img/cat-g219a937c2_1920.png"); */
    /* background-repeat:no-repeat; */
    /* background-position:100px 100px; */
    background:pink url("../img/640.jpg") no-repeat 100px 100px;

    /* background-color: rgb(rgb(194, 149, 149), rgb(58, 204, 58), rgb(178, 230, 33)); */
}

.box2{
    width:1000px;
    height:900px;
    border:1px solid blue;
    margin:0 auto;
    /* background:url("../img/640.jpg") no-repeat right bottom; */
    background:url("../img/640.jpg") no-repeat calc(100% - 50px) calc(100% - 50px);
}
.box2>h2{
    border:1px solid blueviolet;
    width:calc(50% + 50px);
}

.box3{
    width:800px;
    height:800px;
    border:1px solid coral;
    margin:0 auto;
    background:url(../img/640.jpg) no-repeat 0 0;
    background-size:contain;
}

.box4{
    border:10px solid red;
    height:100vh;
   
    /* background:url(../img/640.jpg), url(../img/640.jpg); */
    /* background-repeat:no-repeat,no-repeat; */
    /* background-position:0 0, 100% 100%; */
    background:url(../img/640.jpg) no-repeat 0 0,url(../img/640.jpg) no-repeat 100% 100%;


}

.box5{
    border:10px solid blue;
    width:30vw;
    height:30vw;
    margin:0 auto;
    /* background-image: linear-gradient(0deg, red, blue); */
    /* background-repeat:100px 100px; */
    /* background-repeat:repeat; */
    /* background-size:100px 100px; */
    background-image:radial-gradient(red, blue)

}

.box6{
    width:100%;
    height:500px;
    border:10px solid orange;
    margin:0 auto;
    /* background-color:red; */
    background-image:linear-gradient(45deg,red,blue), url(../img/640.jpg);
    background-blend-mode:exclusion;
    background-attachment:fixed;

}