*{margin: 0; padding: 0;}
h1,h2,h3,h4.h5,h6{font-size:inherit;font-weight: normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}

html{font-size: 12px; font-family: 'Noto Sans KR', sans-serif;}

/* 레이아웃 -전체*/

.all{width:920px; margin:0 auto; border:1px solid red;}

footer{border:1px solid blue; background-color: #f0f0f0; dis}
.irfooter{display: flex; padding:20px 0px}
.flogo{width:920px; margin:0 auto;border:1px solid red;}
.corinfo{width:920px; margin:0 auto;border:1px solid red;}


.footmenu{display: flex;}
.footmenu>li:last-of-type{margin-right:20px;}


/* 푸터의 경우 하단 배경은 끝까지 있고 컨텐츠만 920픽셀 안에 있으므로 밖으로 빼서 새로 영역을 잡아준다 */

/* 헤더 */
header{border:1px solid green;
display: flex; justify-content: space-between;}

.logo{border:1px solid blue;}

nav{}

.topmenu{display: flex; border:1px solid red; justify-content:flex-end; margin-bottom: 30px;}

.gnb{display:flex; border:1px solid red;}

.topmenu>li{border:1px solid red; background-color: #333; color: #fff; text-transform: uppercase; font-size: 0.9rem;padding: 2px 8px;}

.topmenu>li:last-of-type{padding-right: 16px;}
.topmenu>li:first-of-type{padding-left: 16px;}

.gnb>li{border:1px solid red; padding:10px 16px; font-size: 1.2rem; font-weight: bold; color:#333;}

/* 메인 */
.contents{border:1px solid red; display: flex; justify-content: space-between;}
.contents>section{border:1px solid blue;
width:calc((100% - 40px)/3);}
.contents>section>h2{border-bottom:1px solid #ccc;
margin-bottom:12px;}
.more{float: right;}
.noticelist{margin-bottom: 3px;}
.noticelist>li:last-of-type{margin-bottom: 0px;}
.noticelist>li>a>span{float:right;}
.quicklist{display: flex; justify-content: space-between;}
.all{margin-bottom: 30px;}
